.animated-background {
  background: linear-gradient(
    to bottom right,
    yellow,
    #ff0080,
    #cc00ff,
    #d580ff,
    #c44dff,
    #aa00ff,
    #bf00ff,
    orange
  );
  background-size: 140% 140%;
  animation: backgroundChange 20s ease-in infinite;
  animation-delay: 5s;
}

@keyframes backgroundChange {
  0% {
    background-position: 10% 0%;
  }
  25% {
    background-position: 51% 100%;
  }
  50% {
    background-position: 51% 51%;
  }
  75% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
